<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sheatouk.selmy.componentsdonationasu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Util.ComponatesDonationASU"
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDs-3thlJZtesScQApu3bgJojvuQ9y8zFY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".Services.ScrapCompService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Activity.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.SignUpActivity" />
        <activity android:name=".Activity.PersonalInfoActivity" />
        <activity android:name=".Activity.MenuItemActivity" />
        <activity android:name=".Activity.SearchResultsActivity" />
        <activity android:name=".Activity.ProfileActivity" />

        <service
            android:name=".Services.DonationReqListner"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Activity.ReqListActivity" />

        <service
            android:name=".Services.RepliesListnerService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Activity.RepliesActivity"></activity>
    </application>

</manifest>